<!DOCTYPE html>
<html ng-app="projectModule">
<head>
  <link rel="stylesheet" href="app/css/bootstrap.css">
  <link rel="stylesheet" href="app/css/style.css">
  <script src="Scripts/angular.js"></script>
  <script src="Scripts/angular-route.js"></script>
  <script src="Scripts/echarts.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/controllers/ATESTController.js"></script>
  <script src="app/js/controllers/menuController.js"></script>
  <script src="app/js/controllers/MainController.js"></script>
  <script src="app/js/controllers/UserController.js"></script>
  <script src="app/js/controllers/RepoController.js"></script>
  <script src="app/js/controllers/LineController.js"></script>
  <script src="app/js/controllers/PieController.js"></script>
  <script src="app/js/services/github.js"></script>
</head>
<body>
  <div>
    <h1>Github Viewer</h1>
    <div>
      <button ng-click="btnLine_click">Line</button>
    </div>
    <div class="menu" ng-controller="menuController" style="background-color: burlywood">
      <ul id="menuList">
        <li ng-repeat="menu in menus">
          <a class="" href="{{menu.href}}">
            <i>{{menu.name}}</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-view></div>
  <script>
    var btnLine_click = function () {
      var legend = ["PH值", "溶解氧", "电导率", "温度值", "浊度值"];
      var item = ["8:45", "8:47", "8:49", "8:51", "8:53", "8:55", "8:57", "8:59"];
      var data = [
        ["7.95", "7.71", "7.16", "7.77", "7.99", "7.76", "7.91", "7.76"],
        ["8.42", "32.23", "33.44", "17.16", "7.08", "7.29", "7.18", "7.3"],
        ["257.85", "254.65", "253", "279.8", "206.6", "271.08", "286.24", "263.5"],
        ["25.75", "20.46", "21.05", "20.58", "20.7", "20.58", "20.45", "20.58"],
        ["8.08", "3.83", "2.79", "6.39", "7.75", "7.81", "7.58", "7.81"]
      ];
    }
  </script>
</body>
</html>
