[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.littleImg {
  width: 100px;
  height: 100px;
}

.largeImg {
  width: 90%;
  height: 90%;
}

div {
  height: 100%;
}

.div-pie-container {
  width: 50%;
}

.div-pie {
  padding: 5px;
  margin: 5px;
}

h1,
p {
  font-family: sans-serif;
}
