[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.littleImg {
  width: 100px;
  height: 100px;
}

div {
  height: 100%;
}

h1,
p {
  font-family: sans-serif;
}
