<div>
  <div class="col-md-2">
    <img ng-src="SmartFactory/img/Generic.png" alt="Here is a picture" style="height:200px; height:200px" />
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <sfchartelement id="chart1" legend11="legend" data11="data" item11="item" fixedcharttype="gaugecar"></sfchartelement>
      </div>
      <div class="col-md-4">
        <sfchartelement id="chart2" legend11="legend" data11="data" item11="item" fixedcharttype="pie"></sfchartelement>
      </div>
      <div class="col-md-4">
        <sfchartelement id="chart3" legend11="legend" data11="data" item11="item" fixedcharttype="bar3d"></sfchartelement>
      </div>
    </div>
    <div class="row">
      <sfchartelement id="chart4" legend11="legend" data11="data" item11="item" fixedcharttype="multiline"></sfchartelement>
    </div>
  </div>
</div>