<div>
  <div class="col-md-2">
    <img ng-src="SmartFactory/img/Generic.png" alt="Here is a picture" style="height:200px; height:200px" />
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4">
        <sfchartelement charttype="gaugecar"></sfchartelement>
      </div>
      <div class="col-md-4">
        <sfchartelement charttype="pie"></sfchartelement>
      </div>
      <div class="col-md-4">
        <sfchartelement charttype="bar3d"></sfchartelement>
      </div>
    </div>
    <div class="row">
      <sfchartelement charttype="{{charttype}}"></sfchartelement>
    </div>
  </div>
</div>