<div class="viewContainer">
  <div class="col-md-6 chartContainer">
    <sfchartelement data="data" charttype="map2d" eChart="chart2D" interact="chartInteraction(params)"></sfchartelement>
  </div>
  <div class="col-md-6 chartContainer">
    <sfchartelement data="data" charttype="map3d" eChart="chart3D" interact="chartInteraction(params)"></sfchartelement>
  </div>
</div>
<!--<div class="viewContainer">
  <div class="row" style="height: 200px">
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring"></sfchartelement>
    </div>
  </div>
  <div class="row" style="height: 200px">
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring" dataKey="ring1"></sfchartelement>
    </div>
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring" dataKey="ring2"></sfchartelement>
    </div>
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring" dataKey="ring3"></sfchartelement>
    </div>
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring" dataKey="ring4"></sfchartelement>
    </div>
    <div class="col-md-2">
      <sfchartelement data="data" charttype="ring" dataKey="ring5"></sfchartelement>
    </div>
  </div>
</div>-->
